bs4==0.0.1
chromedriver-binary==121.0.6115.2.0
database-connect==0.1.66
ipykernel==6.26.0
pandas==2.2.2
plotly==5.18.0
pysocks==1.7.1
python-dotenv==1.0.1
requests==2.32.3
selenium==4.15.2
tiktoken==0.4.0