@import "tailwindcss";

@theme {
  --color-background: #121217;
  --color-surface: #1c1c24;
  --color-accent: #8e79e5;
  --color-muted: #2a2a35;
}

body {
  background-color: #121217;
  color: #fff;
}
